.list-header{
    display: flex;
    justify-content: space-between;
}

#example {
    table-layout: fixed;
}

#example tr,
#example th {
    word-break: break-word;
    font-size: 0.9em;
}

.select2-selection__choice {
    color: #635d5d !important;
    width: 21% !important;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
    color: #635d5d !important;
}

.select2-results__options .select2-results__option:hover {
    color: black !important;
}

.select2-results__options .select2-results__option {
    color: #635d5d !important;
}